button{
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1.5em;
    color: white;
    width: 7em;
    padding: 0.5em;
    
}

.click{
    background-color: #002AA3;
    transition: 0.2;
    cursor: pointer;
    margin-bottom: 0.5em;
    opacity: 0.5;
}

.click:hover{
    opacity: 1;
}

.reiniciar{
    background-color: #4C0F89;
    transition: 0.2;
    opacity: 0.5;
    cursor: pointer;
}
.reiniciar:hover{
    opacity: 1;
}